*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/dragview/src/androidTest/java/com/maxcion/dragview/
/dragview/src/test/java/com/maxcion/dragview/
/app/src/test/java/com/maxcion/dragviewproject/
/app/src/androidTest/java/com/maxcion/dragviewproject/
/.idea/
